body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.page-title {
  text-align: center;
}

nav {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 1em;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.cart-button:hover {
  background-color: whitesmoke;
}

.account-nav:hover {
  background-color: whitesmoke;
}

.item {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  text-transform: uppercase;
}

.right-nav-content {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top {
  object-fit: cover;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.card {
  margin: 10px;
  text-align: center;
}

.product-click {
  cursor: pointer;
}

.search-button {
  border-style: none;
  margin-top: -2px;
  border-radius: 20px;
}

.search-button:hover {
  background-color: white;
  color: black;
}

.category-container {
  background-color: white;
  box-shadow: 0px 2px 2px #96939b;
}

.categories-links {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category {
  z-index: 305;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.search {
  border-radius: 20px;
  width: 30vw;
  padding-left: 20px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.item-info-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px;
}

.single-prod-img {
  max-width: 100%;
  height: 250px;
}

.item-info-left {
  flex: 3 1 0;
  text-align: center;
}

.item-info-right {
  flex: 2 1 0;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.quantity-form {
  width: 3em;
  margin-right: 10px;
  margin-top: 20px;
}

.product-overview {
  margin-left: 10%;
  margin-right: 10%;
}
.rating-text {
  color: teal;
  font-size: 0.9em;
}

.price-tag {
  font-weight: bold;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.cart-item {
  display: flex;
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-item img {
  max-width: 30px;
  max-height: 50px;
  margin-right: 10px;
}

.cart-info-left {
  display: flex;
  flex: 3 1 0;
  align-items: center;
}
.cart-info-right {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
